extends ../layouts/default

block main
  h1= req.article.title.slice(0, 400)

block content
  .row
    .col-md-8
      p=req.article.body.slice(0, 1000)
      .meta
        - if (req.article.user)
          - var name = req.article.user.name ? req.article.user.name : req.article.user.username
          p Author :&nbsp;
            a(href="/users/"+req.article.user._id)= name

        - if (req.article.tags)
          p Tags &nbsp;
            each tag in req.article.tags.split(',').slice(0, 10)
              i.text-muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p.text-muted= formatDate(req.article.createdAt, "%b %d, %Y at %I:%M %p")

    .col-md-4
      - if (!req.article.isNew && req.article.image && req.article.image.files && req.article.image.files.length)
        img(src=req.article.image.cdnUri + '/mini_' + article.image.files[0])

  - if (req.isAuthenticated())
    form(action="/articles/"+req.article.id, method="post", onsubmit="return confirm('Are you sure?')")
      input(type='hidden', name='_csrf', value=csrf_token)
      a.btn.btn-outline-primary(href='/articles/'+req.article._id+'/edit', title="edit") Edit
      | &nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-link.text-danger(type="submit") Delete

    form.mt-2(action='/assignUser/' + req.article._id + '/' + req.user._id, method="post")
      input(type='hidden', name='_csrf', value=csrf_token)
      button.btn.btn-info(type="submit") Divulgar produto

    if (req.affiliateUrl)
      p Link: 
        a(href=req.headers.origin + req.affiliateUrl, target="_blank")=req.headers.origin + req.affiliateUrl
      p Link para contagem de visualização: 
        a(href=req.headers.origin + req.affiliateUrl + '/view', target="_blank")=req.headers.origin + req.affiliateUrl + '/view'
  br
  h3 Comments
  each comment, index in req.article.comments
    div(class=`py-3 ${index && 'border-top'}`)
      include ../comments/comment
  include ../comments/form
